@media (max-width: 800px){
    .GetInTouchy{    
        display: flex;
        justify-content: center;
    }
    
    #touchy-background{
        width: 360px;
        height: 821px;
        background: #FFFFFF;
        box-shadow: 0px 8px 16px rgba(6, 21, 43, 0.08);
        border-radius: 4px;
    }
    
    #div-tatiana{
        display: flex;
        justify-content: center;
        position: relative;
        bottom: 100px;
    }
    
    #div-verde{
        position: absolute;
    }
    
    #faixa-verde{
        position: relative;
        top: 90px;
        right: 80px;
    }
    
    #tatiana{
        align-items: center;
        position: absolute;
        border-radius: 100px;
        z-index: 1;   
    }
    
    #touchy-title{
        display: flex;
        margin-left: 60px;
        margin-top: 120px;
        height: 60px;
    }
    
    #touchy-icon{
        background-color: #46BD62;
        width: 60px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    #touchy-text{
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        width: 80px;
        position: relative;
        bottom: 25px;
        margin-left: 24px;    
    }
    
    #touchy-form{
        display: flex;
        flex-direction: column;
        margin-left: 60px;
        margin-right: 60px;
        margin-top: 40px;
    }
    
    #touchy-label{
        margin-bottom: 8px;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
    }
    
    #touchy-label-email{
        margin-bottom: 8px;
        margin-top: 24px;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
    }

    #touchy-label-message{
        margin-bottom: 8px;
        margin-top: 24px;        
    }
    
    #touch-input{
        box-sizing: border-box;  
        height: 50px;  
        background: #FFFFFF;
        border: 1px solid #06152B;
        border-radius: 4px;
    }
    
    #touch-input::placeholder{
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        position: relative;
        left: 10px;
    }
    
    #touch-input-email{
        box-sizing: border-box;  
        height: 50px;  
        background: #FFFFFF;
        border: 1px solid #06152B;
        border-radius: 4px;
    }
    
    #touch-input-email::placeholder{
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        position: relative;
        left: 10px;
    }
    
    #touch-input-telephone{
        box-sizing: border-box;  
        height: 50px;  
        background: #FFFFFF;
        border: 1px solid #06152B;
        border-radius: 4px;
    }
    
    #touch-input-telephone::placeholder{
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        position: relative;
        left: 10px;
    }
    
    #touch-input-message{
        box-sizing: border-box;  
        height: 150px; 
        width: 580px; 
        background: #FFFFFF;
        border: 1px solid #06152B;
        border-radius: 4px;
    }
    
    #touch-message::placeholder{
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        position: absolute;
        top: 15px;
        left: 10px;
    }
    
        
    #touchy-form-email{
        display: flex;
        flex-direction: column;
    }
    
    #touchy-form-telephone{
        display: flex;
        flex-direction: column;
    }
    
    #touchy-button{
        background: #46BD62;
        border-radius: 4px;
        color: white;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        height: 52px;
        margin-top: 40px;
        border: 0px;
    }
    
    #touchy-button:hover{
        cursor: pointer;
        background-color: #3cacf6 ;
        transition: 0.5s;
        border-radius: 10px;
    }
}

@media (min-width: 801px) {
    .GetInTouchy{    
        display: flex;
        justify-content: center;
    }
    
    #touchy-background{
        width: 700px;
        height: 721px;
        background: #FFFFFF;
        box-shadow: 0px 8px 16px rgba(6, 21, 43, 0.08);
        border-radius: 4px;
    }
    
    #div-tatiana{
        display: flex;
        justify-content: center;
        position: relative;
        bottom: 100px;
    }
    
    #div-verde{
        position: absolute;
    }
    
    #faixa-verde{
        position: relative;
        top: 90px;
        right: 80px;
    }
    
    #tatiana{
        align-items: center;
        position: absolute;
        border-radius: 100px;
        z-index: 1;   
    }
    
    #touchy-title{
        display: flex;
        margin-left: 60px;
        margin-top: 87px;
        height: 60px;
    }
    
    #touchy-icon{
        background-color: #46BD62;
        width: 60px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    #touchy-text{
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        width: 80px;
        position: relative;
        bottom: 25px;
        margin-left: 24px;    
    }
    
    #touchy-form{
        display: flex;
        flex-direction: column;
        margin-left: 60px;
        margin-right: 60px;
        margin-top: 40px;
    }
    
    #touchy-label{
        margin-bottom: 8px;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
    }
    
    #touchy-label-email{
        margin-bottom: 8px;
        margin-top: 24px;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
    }

    #touchy-label-message{
        margin-bottom: 8px;
        margin-top: 24px;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
    }
    
    #touch-input{
        box-sizing: border-box;  
        height: 50px;  
        background: #FFFFFF;
        border: 1px solid #06152B;
        border-radius: 4px;
    }
    
    #touch-input::placeholder{
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        position: relative;
        left: 10px;
    }
    
    #touch-input-email{
        box-sizing: border-box;  
        height: 50px; 
        width: 280px; 
        background: #FFFFFF;
        border: 1px solid #06152B;
        border-radius: 4px;
    }
    
    #touch-input-email::placeholder{
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        position: relative;
        left: 10px;
    }
    
    #touch-input-telephone{
        box-sizing: border-box;  
        height: 50px; 
        width: 280px; 
        background: #FFFFFF;
        border: 1px solid #06152B;
        border-radius: 4px;
    }
    
    #touch-input-telephone::placeholder{
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        position: relative;
        left: 10px;
    }
    
    #touch-input-message{
        box-sizing: border-box;  
        height: 150px; 
        width: 580px; 
        background: #FFFFFF;
        border: 1px solid #06152B;
        border-radius: 4px;
    }

    #touch-message{
        width: 580px;        
    }
    
    #touch-message::placeholder{
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        position: absolute;
        top: 15px;
        left: 10px;
    }
    
    #touchy-form-info{
        display: flex;
        justify-content: space-between;
    }
    
    #touchy-form-email{
        display: flex;
        flex-direction: column;
    }
    
    #touchy-form-telephone{
        display: flex;
        flex-direction: column;
    }
    
    #touchy-button{
        background: #46BD62;
        border-radius: 4px;
        color: white;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        height: 52px;
        margin-top: 40px;
        border: 0px;
    }
    
    #touchy-button:hover{
        cursor: pointer;
        background-color: #3cacf6 ;
        transition: 0.5s;
        border-radius: 10px;
    }
}